{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-center">Удаление рецепта</h1>

  <p class="alert alert-warning text-center">Вы уверены, что хотите удалить рецепт "<strong>{{ recipe.title }}</strong>"?</p>

  <!-- Форма для подтверждения удаления рецепта -->
  <div class="text-center">
    <form method="post" class="d-inline">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Удалить
      </button>
    </form>

    <!-- Кнопка отмены -->
    <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-secondary ms-2">
      <i class="bi bi-x-circle"></i> Отмена
    </a>
  </div>
</div>
{% endblock %}
